@media screen and (max-width: 1199px) {
  /* GENERAL */
  body {
    font-size: 2vw;
  }

  header,
  .hero-section,
  .trending-section,
  .main-section {
    padding-inline: 3.5em;
  }

  /* MAIN */

  .author,
  .details {
    font-size: 0.8em;
  }

  /* HERO SECTION */
  .hero-section {
    padding-right: 0;
    border-bottom: 1px solid #191919;
  }

  .hero-section-text {
    padding-block: 5.5em;
  }

  h1 {
    font-size: 5em;
    font-weight: 500;
  }

  .artwork svg {
    width: 185%;
    overflow: hidden;
  }
  /* TRENDING SECTION */
  .title img {
    width: 1.8em;
    margin-left: 0.3em;
  }

  .articles-ranked article {
    width: 20em;
  }
  .articles-ranked h4 {
    font-weight: 800;
  }

  .articles-ranked .details {
    justify-content: space-between;
  }

  .articles-ranked article:nth-of-type(4) .details img,
  .articles-ranked article:nth-of-type(5) .details img,
  .articles-ranked article:nth-of-type(6) .details img {
    display: none;
  }

  /* MAIN SECTION */
  .main-section {
    flex-direction: column-reverse;
    overflow: hidden;
    height: 100%;
    gap: 1em;
    padding-bottom: 4em;
    margin-bottom: 0;
  }

  /* ARTICLES SECTION */

  .articles-section article {
    width: 100%;
    height: 9em;
  }
  /* ASIDE */

  /* DISCOVER SECTION */
  .discover-section {
    order: -1;
  }

  .discover-section a {
    padding-inline: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  /* GENERAL */
  body {
    font-size: 2.5vw;
  }

  header,
  .hero-section,
  .trending-section,
  .main-section {
    padding-inline: 1.5em;
  }

  /* HEADER */

  header img {
    width: 11em;
  }

  header ul {
    gap: 1.8em;
  }

  header li:nth-of-type(1),
  header li:nth-of-type(2),
  header li:nth-of-type(3) {
    display: none;
  }

  header .button {
    padding-inline: 1.2em;
    border-radius: 2em;
  }

  /* MAIN */
  h3 {
    font-size: 0.9em;
  }

  .author,
  .details {
    font-size: 0.9em;
  }

  /* HERO SECTION */
  .hero-section {
    padding-top: 1.5em;
  }
  h1 {
    font-size: 5.8em;
  }

  .hero-section .button {
    font-size: 1.4em;
  }

  .artwork {
    display: none;
  }

  /* TRENDING SECTION */
  .trending-section {
    padding-top: 3em;
  }

  .title img {
    width: 2em;
  }

  .articles-ranked {
    gap: 1.8em;
  }

  .articles-ranked article {
    width: 100%;
  }

  .articles-ranked h4 {
    font-weight: 900;
  }

  /* MAIN SECTION */

  .main-section {
    gap: 1.2em;
  }

  /* ARTICLES SECTION */
  .articles-section article:nth-of-type(4) .details img:first-of-type,
  .articles-section article:nth-of-type(7) .details img:first-of-type {
    display: unset;
  }
  /* DISCOVER SECTION */
  .discover-section a {
    padding-inline: 1.3em;
  }

  /* CONTACTS SECTION */
  .contacts-section {
    padding-top: 1.8em;
  }

  .contacts-section a {
    font-size: 1em;
  }
}
