/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* .spectral {
  font-family: "Spectral", serif;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

/* COLORI */

/* .colors  {
    orange:#ffc017;
    black: #191919;
    green: #1a8917;
} */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-size: 1.5vh;
  color: #191919;
}

ul {
  list-style-type: none;
}

header,
section {
  padding-inline: 10em;
}

a {
  text-decoration: none;
  color: #191919;
}

.button {
  background-color: #191919;
  padding-block: 0.8em;
}

.button a {
  color: #ffffff;
}

/* HEADER */

header {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  display: flex;
  justify-content: space-between;
  padding-block: 1.2em;
}

header img {
  width: 9em;
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

header .button {
  padding-inline: 1em;
  border-radius: 2em;
}

/* MAIN */

h3 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

h4,
.author {
  font-weight: 700;
}

.author {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.author span {
  color: #717171;
  padding-inline: 0.3em;
}

.author img {
  border-radius: 50%;
  width: 1.8em;
  margin-right: 0.5em;
}

.details {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: #717171;
}

.details img {
  width: 1.3em;
  margin-left: 0.3em;
}

/* HERO SECTION */
.hero-section {
  background-color: #ffc017;
  border-bottom: 1px solid #a1a1a1;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: flex-start;
}

h1 {
  font-family: "Spectral", serif;
  font-style: normal;
  font-size: 7em;
  font-weight: 400;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 1.6em;
}

.hero-section .button {
  padding-inline: 2.6em;
  padding-block: 0.6em;
  border-radius: 2em;
  margin-top: 1em;
  font-size: 1.2em;
}

.artwork {
  width: 40%;
}

/* TRENDING SECTION */

.trending-section {
  display: flex;
  flex-direction: column;
  padding-block: 2.5em;
  border-bottom: 1px solid #efefef;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.title img {
  width: 2em;
}

.articles-ranked {
  padding-inline: 0.3em;
  margin-top: 1em;
  gap: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles-ranked article {
  display: flex;
  gap: 1em;
  width: 23em;
}

.ranking {
  font-size: 1.8em;
  font-weight: 700;
  color: #d9d9d9;
}

.articles-ranked article div:not(:first-child) {
  margin-top: 0.2em;
}

.articles-ranked article:nth-of-type(1) .details img,
.articles-ranked article:nth-of-type(2) .details img,
.articles-ranked article:nth-of-type(3) .details img {
  display: none;
}

/* MAIN SECTION */
.main-section {
  padding-top: 4em;
  display: flex;
  gap: 6em;
}

/* ARTICLES SECTION */
.articles-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.articles-section article {
  display: flex;
  width: 48em;
  height: 10em;
  align-items: center;
  gap: 1.5em;
}

.articles-section article > img {
  height: 100%;
}

.articles-section article > div {
  flex-grow: 1;
  position: relative;
}

.articles-section h4 {
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-weight: 800;
}

.articles-section h5 {
  color: #717171;
  margin-block: 0.4em;
  line-height: 1.2em;
}

.articles-section .details {
  position: relative;
}
.details span {
  background-color: #f2f3f3;
  padding: 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
}

article .bookmark {
  width: 2em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.articles-section article:nth-of-type(4) .details img:first-of-type,
.articles-section article:nth-of-type(7) .details img:first-of-type {
  display: none;
}

/* ASIDE */

/* CONTACTS SECTION */

.contacts-section {
  border-top: 1px solid #efefef;
}
