/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* .spectral {
  font-family: "Spectral", serif;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

/* COLORI */

/* .colors  {
    orange:#ffc017;
    black: #191919;
    green: #1a8917;
} */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-size: 1vw;
  color: #191919;
}

ul {
  list-style-type: none;
}

header,
section {
  padding-inline: 10em;
}

a {
  text-decoration: none;
  color: #191919;
}

.button {
  background-color: #191919;
  padding-block: 0.8em;
}

.button a {
  color: #ffffff;
}

/* HEADER */

header {
  background-color: #ffc017;
  border-bottom: 1px solid #a1a1a1;
  display: flex;
  justify-content: space-between;
  padding-block: 1.2em;
}

header img {
  width: 9em;
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

header .button {
  padding-inline: 1em;
  border-radius: 2em;
}

/* MAIN */

/* HERO SECTION */
.hero-section {
  background-color: #ffc017;
  border-bottom: 1px solid #a1a1a1;
}

/* TRENDING SECTION */
.trending-section {
  border-bottom: 1px solid #efefef;
}

/* ASIDE */

/* CONTACTS SECTION */

.contacts-section {
  border-top: 1px solid #efefef;
}
